html {
  box-sizing: border-box;
  font-size: var(--defaultRootFontSize);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  font-family: var(--defaultFontFamily);
}

.global-nav {
  padding: 2.78rem;
  display: flex;
  align-items: center;
}

.global-nav__title {
  font-family: 'Merriweather';
  font-size: 1.33rem;
  text-decoration: none;
  color: var(--mainColor);
}

.global-nav__list {
  list-style: none;
  margin: 0 0 0 .83rem;
  padding: 0;
}

.global-nav__item {
  display: inline-block;
}

.global-nav__link {
  padding: 0 .56rem;
}

.content-container {
  max-width: 750px;
  margin: auto;
  margin-top: 3.33rem;
  padding: 0 .83rem;
}

.articles-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.content-404 {
  max-width: 404px;
  margin: auto;
  text-align: center;
  padding-top: 6rem;
}

.content-404__header {
  color: rgb(255, 196, 8);
  font-size: 1.6rem;
  letter-spacing: .5rem;
  margin-bottom: 2.8rem;
}

.content-404__footer {
  color: #555;
  font-size: .9rem;
}
