
/*  index page style */

header.index {
  z-index: 20;
  position: fixed;
  top: 0;
  width: 100%;

}

div.site_title {
  background: white;
  text-align: center;
}

@font-face {
  font-family: titleFont;
  src: url('/public/fonts/Handlee-Regular.ttf')
}

div.site_title h1 {
  margin: auto;
  font-size: 2em;
  padding: 16px;
  font-family: titleFont, Consolas, monaco, monospace, "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑, STHeiti, "WenQuanYi Micro Hei",cursive, sans-serif;
  word-spacing: 3px;
  letter-spacing: 5px;
  color: #444;
}

div.empty {
  clear: both;
}

#nav {
  background: white;
  border-top: 1px solid #eee;
}

#nav nav.global_nav ul {
 text-align: center;
 list-style: none;
 padding: 0;
 margin: 0;
}

#nav nav.global_nav ul li {
  display: inline-block;
  margin-left: 20px;
  
}

#nav nav.global_nav ul li:first-child {
  margin-left: 0px;
}

#nav nav.global_nav ul li a {
  display: inline-block;
  font-size: 0.9em;
  text-decoration: none;
  letter-spacing: 2px;
  line-height: 2.5em;
  color: #777;
}

section.index {
  position: relative;
  z-index: 10;
  display: block;
  margin-top: 100px;
}

#all_posts {
  min-height: 800px;
  max-width: 600px;
  width: auto;
  margin: auto;
  padding-top: 40px;
}

article.post {
  display: block;
  margin-bottom: 20px;
}

span.post_time {
  color: #777;
  margin-right: 20px;
}

h2.post_title {
  font-size: 1.1em; 
  position: relative;
  margin: 0;
  font-weight: 400;
}

h2.post_title a {
  text-decoration: none;
  margin-left: 20px;
  color: #009999;
}

h2.post_title div.time {
  float: left;
  width: 50%;
  text-align: right;

}

h2.post_title div.title {
  float: left;
  width: 50%;
}

h2.post_title a:hover {
  color: #006633;
}

footer.index {
  font-size: 0.9em;
  color: #444;
  text-align: center;
  margin: 30px 0 5px 0;
  letter-spacing: 1px;
}

footer.index p {
  margin: 0;
}

/*****************************/


/* show page style */

div.single_post {
  min-height: 1000px;
  max-width: 600px;
  width: auto;
  margin: auto;
  padding-top: 40px;
}

article.single_post header {
  margin-bottom: 30px;

}

article.single_post header h1 {
  font-size: 1.5em;
  text-align: center;
  font-weight: 400;
  margin: 0;
  color: #444;
  letter-spacing: 1px;
  margin-bottom: 10px;

}

article.single_post div.info {
  font-size: 0.9em;
  text-align: center;
  font-weight: 400;
}

div.info span.post_time {
  margin: 0;
}


/* article style */

div.content {
  line-height: 2;
  color: #424b50;
  font-size: 1em;
  font-family:  "Lucida Grande" , Consolas, monaco, monospace,"Helvetica Neue", Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", "Wenquanyi Micro Hei", sans-serif, "Apple Color Emoji";
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
}
div.content p {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;

}

div.content h4 {
  line-height: 32px;
  font-size: 1em;
  text-align: left;
  font-weight: inherit;
  margin-bottom: 0;
}

div.content h3 {
  font-size: 1.1em;
  line-height: 32px;
  margin-align: left;
  font-weight: bold;
  margin-bottom: 20px;

}

div.content h2 {
  font-size: 1.2em; 
  line-height: 32px;
  text-align: left;
  font-weight: bold;
  margin-bottom: 30px;
}

div.content h1 {
  font-size: 1.5em; 
  line-height: 48px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 50px;

}

div.content ul,ol {
  padding-left: 32px;
  margin: 18px 0;
  padding: 0;
}

div.content blockquote {
  position: relative;
  padding: 0 0 0 12px;
  margin: 18px 0;
  font-family: Georgia, STKaiti, KaiTi, serif;
  font-style: italic;
  text-align: center;
}

div.content table {
  display: table;
  padding: 0;
  margin: 0 auto;
  min-width: 350px;
  border-collapse: collapse;
  border-spacing: 0;
  
}

div.content a {
  padding-bottom: 0.025em;
  color: #006699;
  text-decoration: none;
  border-bottom-color: #006699;
}

div.content a:visited {
  color: #551a8b;
  border-bottom-color: #551a8b;
}

div.content a:hover {
  text-decoration: underline;
}
div.content b {
  font-weight: bold;
}

div.content em {
  font-style: italic;
  font-weight: inherit;


}
div.content u {
  padding-bottom: .05em;
  font-style: inherit;
  font-weight: inherit;
  text-decoration: inherit;
  border-bottom: 1px solid #8b98a0;

}

div.content img {
 max-width: 100%;
 border: 0;
 margin: 0 auto;
}

div.content hr {
  margin: 1.5em;
  height: 1px;
  border: none;
  color: #dfdfdf;
  background-color: #dfdfdf;
}

div.content code {
  font-family: Consolas, monaco, monospace,"Helvetica Neue", Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", "Wenquanyi Micro Hei", sans-serif, "Apple Color Emoji";
}
/***************************************/


/* about page style */

div.about_page {
  min-height: 800px;
  max-width: 600px;
  width: auto;
  margin: auto;
  padding-top: 40px;
}

div.about_page div.content {
  font-size: 1em;
}


/********************************************/

