html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  font-family: $default-font-family;
}

.global-nav {
  padding: 50px;
}

.global-nav__title {
  font-family: 'Merriweather';
  font-size: 24px;
  text-decoration: none;
  color: $main-color;
}

.global-nav__list {
  list-style: none;
  margin: 0 0 0 15px;
  padding: 0;
}

.global-nav__item {
  float: left;
}

.global-nav__link {
  padding: 0 10px;
  line-height: 31px;
}

.articles-container {
  max-width: 750px;
  margin: auto;
  margin-top: 60px;
  padding: 0 15px;
}

.articles-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.articles-list__item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.articles-list__date {
  width: 30%;
  color: rgb(101, 103, 101);
  font-size: 18px;
  padding-top: 4px;
}

.articles-list__title {
  width: 70%;
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  font-family: 'Merriweather' $default-font-family;
}

.articles-list__link {
  color: rgb(28, 28, 28);
  text-decoration: none;
}
