<!DOCTYPE html>
<html lang="zh">

  {% include head.html %}

  <body class="index">

    {% include header.html %}

    <section class="index">
        {{ content }}
    </section>

    {% include footer.html %}

  </body>
  <script src="{{ site.baseyrl }}/public/js/my.js"></script>
  <script src="{{ site.baseurl }}/public/js/nanobar.min.js"></script>
  <script>
    var options = {
      bg: "#ffcc66",
      id: "progressBar"
    };

    var nanobar = new Nanobar(options);
    nanobar.go(100);
  </script>

</html>
